body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: rgb(32, 95, 178);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    height: 200px;
    background: url("https://mocah.org/mocahbig/395884-wallpaper-aurora-borealis-northern-lights-mountain.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 2px 1px 5px black;
    color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 1px black;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}


.todayContainer {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: inset 0px 0px 10px 1px black;
    border-radius: 20px;
    color: white;
    padding: 30px;
    background: linear-gradient(rgb(118, 129, 255), rgb(0, 137, 158));
    backdrop-filter: blur(10px);
    width: 80%;
    height: 90%;


}


.allDaysContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20%;
}



.dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    background: linear-gradient(rgb(118, 129, 255), rgb(0, 137, 158));
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px -5px black;
}

h2 {
    text-shadow: 2px 1px 5px black;
}

.inputEl {
    border-radius: 10px;
    border: none;
    outline: none;
}

li {
    list-style: none;
    padding-right: 20px;
}

button {
    border-radius: 10px;
    border: none;
    background: skyblue;
}

button:hover {
    background: rgb(50, 190, 245);
    transition-duration: 500ms;
}

footer {
    
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgb(72, 147, 172);
    text-align: center;
    box-shadow: inset 0px 0px 10px 1px black;
}

@media only screen and (max-width: 920px) {


    h1 {
        flex-direction: column;
    }


}

@media only screen and (max-width: 400px) {
    .dayContainer {
       
        padding-right: 15px;
        font-size: 10px
    }


}